{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="mb-3">
			You are logged in as
			{{ app.user.userIdentifier }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% endif %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>

	{% endfor %}


	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h1 class="mt-5 mb-4">Register</h1>

				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
				<div class="mb-3">
					{{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_row(registrationForm.plainPassword, {
                            'label': 'Password',
                            'attr': {'class': 'form-control'}
                        }) }}
				</div>
				<div class="mb-3 form-check">
					{{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
					{{ form_label(registrationForm.agreeTerms, 'Peux-tu cocher la case rapidement stp ^^', {'label_attr': {'class': 'form-check-label', 'style': 'color:blue'}}) }}
				</div>

				<button type="submit" class="btn btn-primary">Register</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
{% endblock %}
