<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Afficher Données</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	</head>
	<body>
		<div class="container mt-5">
			<a class="btn btn-danger" href="http://127.0.0.1:8000">Retour à l'accueil</a>

			<h1>Liste des utilisateurs</h1>
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nom</th>
						<th>Role</th>
						<th>Password</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.email }}</td>
							<td>
								<ul>
									{% for role in user.roles %}
										<li>{{ role }}</li>
									{% endfor %}
								</ul>
							</td>
							<td>{{ user.password }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- Add Bootstrap JS and Popper.js scripts (optional but may be required for some Bootstrap components) -->
		 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
