body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: #ff0000;
    font-style: italic;
    
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}
