    {{form_start(form, {action: 'http://127.0.0.1:8000/showData'})}}
    <div>{{form_errors(form)}}</div>
    <div>
    {{form_label(form.nom, "entre un nom")}}
    </div>
    <div>
  {{ form_row(form.nom) }}
    </div>

    {{form_end(form)}}
             {%for message in app.flashes('reussit')%}
    <div style="color:green;">{{message}}</div>
    {%endfor%}