{# templates/main/addAuteur.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Ajouter Auteur</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <h1>Ajouter un Auteur</h1>

{%block body %}
    {{include('auteur/_form.html.twig')}}
{%endblock%}
</body>
</html>
