<!DOCTYPE html>
<html>
<head>
    <title>update Auteur</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
    <h1>update Auteur</h1>

    {# Affichage des messages flash s'il y en a #}
    {% for flashMessage in app.session.flashbag.get('reussit') %}
        <div class="flash-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {# Affichage du formulaire #}
    {{ form_start(form) }}
    {{ form_row(form.nom, {'label': 'Nom de l\'auteur'}) }}
    {{ form_row(form.submit, {'label': 'Modifier'}) }}
    {{ form_end(form) }}

    <a href="{{ path('show_data') }}">Retour à la liste des données</a>
</body>
</html>
