{# templates/auteur/list.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Liste des Auteurs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Liste des Auteurs</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Articles</th>
            </tr>
        </thead>
        <tbody>
            {% for auteur in auteurs %}
                <tr>
                    <td>{{ auteur.id }}</td>
                    <td>{{ auteur.nom }}</td>
                    <td>
                        {% if auteur.listeArticle is not empty %}
                            <ul>
                                {% for article in auteur.listeArticle %}
                                    <li>{{ article.titre }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Aucun article associé
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
