{# templates/auteur/list.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Liste des Articles</title>
</head>
<body>
    <h1>Liste des Articles</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>titre</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.titre }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
