<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container py-5">
        <h1 class="mb-4">Bonjour !</h1>

        {% if app.user %}
        <h5 class="card-title">Voici vos données</h5><br>
            <div class="card">
            
                <div class="card-body">
                    
                    
                    <ul class="list-group">
                        <li class="list-group-item">Votre email : {{ user.email }}</li>
                        <li class="list-group-item">Votre mot de passe (hashé) : {{ user.password }}</li>
                        <a href="{{ path('update_user', {'id': user.id}) }}">Modifier mes informations</a>
                        {# Ajoutez ici d'autres informations de l'utilisateur si nécessaire #}
                    </ul>
                </div>
            </div>
            <a class="btn btn-primary mt-2" href="http://127.0.0.1:8000">Retour accueil</a>
        {% else %}
            <p class="alert alert-danger">Utilisateur non authentifié.</p>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-hk90JpiWde3kntu51V8U5/RLeQx4Dc6jrBWEmx+K5jpfPjEFIZy2P5KA2EzI51xj" crossorigin="anonymous"></script>
</body>
</html>
