<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
{% for message in app.flashes('reussit') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
    <a class="btn btn-primary mb-2" href='http://127.0.0.1:8000'>Retour accueil</a><br>
<div class="container d-flex justify-content-center align-items-center vh-100">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="mb-3">
            {{ form_label(form.password, 'Nouveau mot de passe', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.email, 'Nouvel email', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    {{ form_end(form) }}

</div>